[submodule "source/lib/canvas-nest"]
	path = source/lib/canvas-nest
	url = https://github.com/theme-next/theme-next-canvas-nest.git
[submodule "source/lib/pangu"]
	path = source/lib/pangu
	url = https://github.com/theme-next/theme-next-pangu.git
[submodule "source/lib/reading_progress"]
	path = source/lib/reading_progress
	url = https://github.com/theme-next/theme-next-reading-progress
[submodule "source/lib/needsharebutton"]
	path = source/lib/needsharebutton
	url = https://github.com/theme-next/theme-next-needmoreshare2
[submodule "source/lib/fastclick"]
	path = source/lib/fastclick
	url = https://github.com/theme-next/theme-next-fastclick
[submodule "source/lib/fancybox"]
	path = source/lib/fancybox
	url = https://github.com/theme-next/theme-next-fancybox3
[submodule "source/lib/pace"]
	path = source/lib/pace
	url = https://github.com/theme-next/theme-next-pace
