@import "nippon-color.styl";

$border-radius-inner            = 0 0 20px 20px;
$border-radius                  = 20px;

$link-hover-color             = $blue
$link-decoration-hover-color  = $blue

$btn-default-hover-bg           = white
$btn-default-hover-color        = $blue
$btn-default-hover-border-color = $blue