@import "nippon-color.styl";

$border-radius-inner            = 0 0 20px 20px;
$border-radius                  = 20px;

$link-hover-color             = $RURIKON
$link-decoration-hover-color  = $RURIKON

$btn-default-hover-bg           = white
$btn-default-hover-color        = $KONJYO
$btn-default-hover-border-color = $KONJYO