// Custom styles.
#site-days {
  display: inline-block;
  font-size: 13px;
  text-align: left;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: $grey-dark;
  border-bottom-color: $black-light;
}
