// Custom styles.

// surviving days in the side bar
#site-days {
  display: inline-block;
  font-size: 13px;
  text-align: left;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: $grey-dark;
  border-bottom-color: $black-light;
}

// inline code color
code {
    color: #ff0000;
    background: #fbf7f8;
}

// dynamic background color
.bg_content {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

// scroll-bar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button:start:increment,::-webkit-scrollbar-button:end:decrement {
  display: none;
}
::-webkit-scrollbar-corner {
  display: block;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0,0,0,.5);
}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,.15);
}
// ::-webkit-scrollbar-button:start {
//   width: 10px;
//   height: 10px;
//   background: url(../images/scrollbar_arrow.png) no-repeat 0 0;
// }
// ::-webkit-scrollbar-button:start:hover {
//   background: url(../images/scrollbar_arrow.png) no-repeat -15px 0;
// }
// ::-webkit-scrollbar-button:start:active {
//   background: url(../images/scrollbar_arrow.png) no-repeat -30px 0;
// }
// ::-webkit-scrollbar-button:end {
//   width: 10px;
//   height: 10px;
//   background: url(../images/scrollbar_arrow.png) no-repeat 0 -18px;
// }
// ::-webkit-scrollbar-button:end:hover {
//   background: url(../images/scrollbar_arrow.png) no-repeat -15px -18px;
// }
// ::-webkit-scrollbar-button:end:active {
//   background: url(../images/scrollbar_arrow.png) no-repeat -30px -18px;
// }

// copyright in the post
.post-copyright {
  border-radius: 10px;
}

// copy button in code blocks
.copy-btn {
  border-radius: 20px !important;
  background-color: #fff !important;
  line-height: 25px !important;
}

// button
.btn {
  border-radius: 20px;
}

// back to top button
.back-to-top {
  border-radius: 20px;
}

@font-face {
  font-family: "GuDianMingChaoTi";
  src: url('/fonts/WenYue-GuDianMingChaoTi-NC-W5.otf');
}

@font-face {
  font-family: "GuYaSong";
  src: url('/fonts/WenYue-XHGuYaSong-NC.otf');
}

@font-face {
  font-family: "XinWeiTi";
  src: url('/fonts/WenYue-ZHJXinWeiTi-NC.otf');
}

.site-title {
  font-family: "GuDianMingChaoTi";
  font-size: 22px;
}

.site-author-name {
  font-family: "XinWeiTi";
  font-weight: normal;
}